<% if object.errors.any? %>
  <div class="alert alert-danger">
    <h2 class="h6 mb-2"><%= pluralize(object.errors.count, "problem") %> stopped this from saving:</h2>
    <ul class="mb-0 ps-3">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
